<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://github.com/javaskater" target="_blank" title="lien vers mon compte Github" data-toggle="tooltip" data-placement="top" class="nav-link px-2 text-muted"><i
                class="fa fa-github-square" aria-hidden="true"></i> Mon compte Github</a></li>
      <li class="nav-item"><a href="https://gitlab.com/jpmena" target="_blank"
            title="lien vers mon compte Gitlab" data-toggle="tooltip" data-placement="top" class="nav-link px-2 text-muted"><i
                class="fa fa-gitlab" aria-hidden="true"></i> Mon compte Gitlab</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/mena-jean-pierre-5790299/"
            target="_blank" title="lien vers mon profil Linkedin" data-toggle="tooltip"
            data-placement="top" class="nav-link px-2 text-muted"><i class="fa fa-linkedin-square"
            aria-hidden="true"></i> Mon profil Linkedin</a></li>
      <li class="nav-item"><a href="http://fr.viadeo.com/fr/profile/jean-pierre.mena"
            target="_blank" title="lien vers mon profil Viadeo" data-toggle="tooltip"
            data-placement="top" class="nav-link px-2 text-muted"><i class="fa fa-viadeo"
                            aria-hidden="true"></i> Mon profil Viadeo</a></li>
      <li class="nav-item"><a href="https://www.xing.com/profile/MENA_JeanPierre" target="_blank"
            title="lien vers mon profil Xing" data-toggle="tooltip" data-placement="top" class="nav-link px-2 text-muted"><i
                class="fa fa-xing-square" aria-hidden="true"></i> Mon profil Xing</a></li>
    </ul>
    <p class="text-center text-muted"><a href="https://github.com/javaskater/personal_portal2" target="_blank"
            title="lien vers le code source de ce site sur Github" data-toggle="tooltip"
            data-placement="right">&copy; jpmena.eu Inc. <i
                class="fa fa-github" aria-hidden="true"></i></a></p>
</footer>