<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://github.com/javaskater" target="_blank" title="Link zu meinem Github Konto (auf Englisch)" data-toggle="tooltip" data-placement="top" class="nav-link px-2 text-muted"><i
                class="fa fa-github-square" aria-hidden="true"></i> mein Github Konto</a></li>
      <li class="nav-item"><a href="https://gitlab.com/jpmena" target="_blank"
            title="Link zu meinem Gitlab Konto (auf Englisch und Französisch)" data-toggle="tooltip" data-placement="top" class="nav-link px-2 text-muted"><i
                class="fa fa-gitlab" aria-hidden="true"></i> mein Gitlab Konto</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/mena-jean-pierre-5790299/"
            target="_blank" title="Link zu meinem Linkedin Konto (auf Englisch)" data-toggle="tooltip"
            data-placement="top" class="nav-link px-2 text-muted"><i class="fa fa-linkedin-square"
            aria-hidden="true"></i> mein Linkedin Konto</a></li>
      <li class="nav-item"><a href="http://fr.viadeo.com/fr/profile/jean-pierre.mena"
            target="_blank" title="Link zu meinem Viadeo Konto (auf Französisch)" data-toggle="tooltip"
            data-placement="top" class="nav-link px-2 text-muted"><i class="fa fa-viadeo"
                            aria-hidden="true"></i> mein Viadeo Konto (auf Französisch)</a></li>
      <li class="nav-item"><a href="https://www.xing.com/profile/MENA_JeanPierre" target="_blank"
            title="Link zu meinem Xing Konto (auf Englisch)" data-toggle="tooltip" data-placement="top" class="nav-link px-2 text-muted"><i
                class="fa fa-xing-square" aria-hidden="true"></i> mein Xing Konto</a></li>
    </ul>
    <p class="text-center text-muted"><a href="https://github.com/javaskater/personal_portal2" target="_blank"
            title="Link zu dem Source Code von dieser Webseite (Github)" data-toggle="tooltip"
            data-placement="right">&copy; jpmena.eu Inc. <i
                class="fa fa-github" aria-hidden="true"></i></a></p>
</footer>