
    <h3 class="text-md-center font-italic">Multilingual <i class="fa fa-language" aria-hidden="true"></i></h3>
    <h3 class="text-md-center">Senior Web Developper</h3>
    <h4 class="text-md-center">Engineer of the <a
                href="http://www.ec-lille.fr" title="link to Ecole Centrale de Lille Highschool"
                target="_blank" data-toggle="tooltip" data-placement="top"><i class="fa fa-university" aria-hidden="true"></i>
                Ecole Centrale de Lille</a></i></4>
    <p class="text-md-center font-italic">more on <a
                href="https://www.linkedin.com/in/mena-jean-pierre-5790299/"
                target="_blank" title="link to my Linkedin profile" data-toggle="tooltip"
                data-placement="top"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> , <a
                href="http://fr.viadeo.com/fr/profile/jean-pierre.mena"
                target="_blank" title="link to Viadeo profile (french)" data-toggle="tooltip"
                data-placement="top"><i class="fa fa-viadeo"
                                aria-hidden="true"></i></a> or  <a
                href="https://www.xing.com/profile/MENA_JeanPierre" target="_blank"
                title="link to my Xing profile" data-toggle="tooltip" data-placement="top"><i
                    class="fa fa-xing-square" aria-hidden="true"></i></a></p>